################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CppProperties.json
/vcpkg_installed
/out/build/x64-Debug
/.vs
/build.py
/CMakeSettings.json
/vcpkg-configuration.json
